<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
    <meta charset="utf-8">
    <title>Contact Added</title>
  </head>
  <body>
    <div class="container">
      <h1>You've added a contact!</h1>
      <ul id="added-ul">
        <li>Name: @Model["contact"].GetName()
          <ul>
            <li>Phone: @Model["contact"].GetPhoneNumber()</li>
            <li>Details: @Model["contact"].GetDetails()</li>
            <li>Street: @Model["address"].GetStreet()</li>
            <li>City: @Model["address"].GetCity()</li>
            <li>State: @Model["address"].GetState()</li>
          </ul>
        </li>
      </ul>
      <a class="button" href="/">Return to Address Book</a>
    </div>
  </body>
</html>
