<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Details</title>
  </head>
  <body>
    <h1>Details for @Model.GetName()</h1>
    <ul>
      <li>@Model.GetName()
        <ul>
          <li>@Model.GetAddress()</li>
          <li>@Model.GetPhoneNumber()</li>
          <li>@Model.GetDetails()</li>
        </ul>
      </li>
    </ul>
    <form action="contacts/@Model.GetId()/remove" method="post">
      <button type="submit">Delete this contact</button>
    </form>
    <a href="/">Return to Address Book</a>
  </body>
</html>
