<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Details</title>
  </head>
  <body>
    <h1>Details for @Model["contact"].GetName()</h1>
    <ul>
      <li>@Model["contact"].GetName()
        <ul>
          <li>@Model["contact"].GetPhoneNumber()</li>
          <li>@Model["contact"].GetDetails()</li>
          <li>@Model["address"].GetStreet()</li>
          <li>@Model["address"].GetCity()</li>
          <li>@Model["address"].GetState()</li>
        </ul>
      </li>
    </ul>
    <form action='/contacts/@Model["contact"].GetId()/remove' method="post">
      <button type="submit">Delete this contact</button>
    </form>
    <a href="/">Return to Address Book</a>
  </body>
</html>
